<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartfitness.mapper.MemberMapper">

<!--회원가입-->
<insert id = "join" parameterType="com.smartfitness.model.Member">
    insert into sf_member
    values(#{mem_id},#{mem_pw},#{mem_name},now(),#{mem_grade},#{mem_email},#{mem_phone},#{mem_addr},#{mem_birthday},null,null)
</insert>
<!--로그인-->
<select id = "login" parmeterType="java.util.Map">
    select mem_id from sf_member where mem_id=#{mem_id} and mem_pw=#{mem_pw}
</select>

<!--회원정보 수정-->
<update id = "update" parameterType="java.util.Map">
    update sf_member
    set mem_pw=#{mem_pw}, mem_name=#{mem_name}, mem_email=#{mem_email}, mem_phone=#{mem_phone}, mem_addr=#{mem_addr}, mem_birthday=#{mem_birthday}
</update>

<!--회원탈퇴-->
<delete id = "delete" parameterType="java.util.Map">
    delete from sf_member
    where mem_id = #{mem_id}
</delete>

</mapper>