body{
    background-color: black;
    display: flex;

    justify-content: center;
    text-align: center;

    a{ // 링크 태그 효과 삭제
        text-decoration: none;
        color: white;
    }

    .divStyle{ // 공통 Div 스타일
        background-color: black;
        color: white;
        font-size: xx-large;

        padding: 10vh;
    }

    .footer{
        color: whitesmoke;
        font-size: x-small;
    
        *{
            margin-top: 0px;
            margin-bottom: 0px;
        }

        span{
            margin-left: 7px;
        }
    }

    .test{
        background-color: aqua;
    }


}