body{
    background-color: black;
    display: flex;

    justify-content: center;
    text-align: center;

    a{ // 링크 태그 효과 삭제
        text-decoration: none;
        color: white;
    }

    .divStyle{ // 공통 Div 스타일
        background-color: black;
        color: white;
        font-size: xx-large;

        padding: 10vh;
    }

    .footer{
        color: whitesmoke;
        font-size: x-small;
    
      //형주형한테 물어보기~ 바닥에 고정하고 싶어요 div크기 상관 없이!
      // 근데 컨텐츠를 가리면 안됨! 스크롤 상관없이 맨 밑에 두고 싶어요!
        *{
            margin-top: 0px;
            margin-bottom: 0px;
        }

        span{
            margin-left: 7px;
        }
    }


}