.navBar{
    
    display: flex;
    justify-content: center;
    width: 100vw;

    border-bottom: 1px double red;

    .navBar_menu{
        display: flex;
        
        gap: 5vw;
        margin-left: 10vw;

        align-items: center;

        p:hover{
         background-color: red;
        }
    }

    .navBar_login{
        display: flex;

        gap: 2vw;
        margin-left: 10vw;

        align-items: center;
    }
}